<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
     <!-- analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HP0H10TJV8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-HP0H10TJV8');
    </script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="A cool thing made with Glitch" />
    <meta name="theme-color" content="#111" />

    <title>book spotlight</title>

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    
    <div id="ui-container">
      <span class="tutorial margin-bottom">BOOKSTORY is like Spotify's year wrapped, but for books.</span>
      <div class="cards-container">
        <a href="./yearinbooks" class="card">
          <span class="card-text">Share books you've read this year</span>
          <img src="https://cdn.glitch.com/1f853c93-fdac-4aa1-8f59-206b69e04733%2Fexample%20-%20year%20in%20books%20-%20scaled.png?v=1608539707870">
        </a>
        <a href="./toppicks" class="card">
          <span class="card-text">Share favourite books from this year</span>
          <img src="https://cdn.glitch.com/1f853c93-fdac-4aa1-8f59-206b69e04733%2Fexample-top-pick%20-%20scaled.png?v=1608539716227">
        </a>
      </div>
    </div>
    
  </body>
</html>
